body {
    font-family: sans-serif;
    background-image: url(https://static.pexels.com/photos/83802/tomato-83802.jpeg);
}

h1 {
    line-height: 55px;
    text-align: center;
    margin: 0px;
}

h2 {
    line-height: 35px;
    color: white;
    text-align: center;
}

.img {
    height: 60px;
}

.billprinter{
    background-size: cover;
    width: 200px;
    height: 200px;
    background-image: url(../img/printer.png);
    position: absolute;
    left: -200px;
}
.billprinter_half {
    background-size: cover;
    width: 203px;
    height: 144px;
    background-image: url(../img/printer.png);
    position: absolute;
    z-index: 2000;
}

.bills{
    position: relative;
    overflow: hidden;
    width: 105px;
    height: 85px;
    top: 60px;
    left: 52px;
}

.bill {
    background-color: #ffffd7;
    font-family: fantasy;
    text-align: center;
    border: 1px solid;
    border-bottom-style: dashed;
    border-top-style: dashed;
    width: 100px;
    line-height: 43px;
    transition: all;
    transition-duration: 3s;
    position: absolute;
    height: 82px;
    top: -82px;
}

.wrap {
    position: relative;
    margin: auto;
    width: 700px;
    min-height: 400px;
    background: aquamarine;
    border-radius: 20px;
    padding-bottom: 5px;
}

.section {
    min-height: 200px;
    margin : 20px;
    background-color: FF4100;
    border-radius: 20px;

}

.items {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.item {
    margin: 20px;
    background-size: cover;
    height: 90px;
    width: 90px;
}

.sub_item_panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 90px;

}

.sub_item_panel div {
    opacity: 0.3;
}

.sub_item_panel div:hover {
    opacity: 1;
}

.sub_item_panel div:active {
    opacity: 0.8;
}

.buy {
    background-image: url(../img/buy.png);
    height: 30px;
    width: 31px;
    background-size: cover;
}

.weigh_butt {
    background-image: url(../img/weigh-ico.png);
    height: 30px;
    width: 30px;
    background-size: cover;
}

.weigh {
    position: absolute;
    background-size: cover;
    width: 252px;
    height: 200px;
    right: -252px;
    top: 95px;
    background-image: url(../img/weigh.png);
}

.weigh_item {
    position: relative;
    width: 90px;
    height: 90px;
    top: -15px;
    left: 80px;
    transition: all 1s;
    background-size: cover;
}

.weigh_value {
    position: relative;
    left: 35px;
    top: 13px;
    height: 14px;
    width: 136px;
    border-radius: 7px;
    background: #27941f;
    color: #d2d2d2;
    text-align: center;
    font-size: 12px;
    font-family: monospace;
}
